body,
html {
  font-family: "montserrat";
  margin: 0;
  padding: 1em;
}

h1 {
  font-size: 2em;
  text-align: center;
  color: white;
  background-color: rgba(112, 128, 144, 0.8);
  border-radius: 15px;
  padding: 1em;
  margin: 1em;
}

.toolArea {
  display: grid;
}
.toolSection {
  background: lightgray;
  border: black solid 3px;
  border-radius: 7px;
  padding: 0.5em;
  margin: 0.5em;
  width: fit-content;
  display: grid;
}

h2 {
  display: inline;
  padding: 0.5em 1em;
  margin: auto;
  background: silver;
  border-radius: 20px;
  text-align: center;
}

p {
  display: inline-block;
  text-align: center;
  font-size: 0.7em;
}
p span {
  display: inline-block;
}
label {
  margin: 0.5em;
}

div {
  display: inline-block;
  text-align: center;
  padding: 0.25em 1em;
}

.calcButton {
  display: inline-block;
  margin: 0.5em auto;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.calcButton:hover {
  background-image: linear-gradient(to bottom right, lightgray, silver);
}

#downtimeCalc section {
  display: grid;
}

@media (min-width: 600px) {
  .toolArea {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
  #downtimeCalc section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
  }
}
.hide {
  display: none;
}
