body,
html {
  font-family: "montserrat";
  margin: 0;
  padding: 1em;
}

/*Cookie Consent Begin*/
#myCookieConsent {
  z-index: 999;
  min-height: 20px;
  font-family: OpenSans, arial, "sans-serif";
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: fixed;
  color: #fff;
  bottom: 0px;
  right: 10px;
  display: none;
  left: 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#myCookieConsent.show {
  display: inline-block;
}
#myCookieConsent div {
  padding: 5px 0 0;
}
#myCookieConsent a {
  color: #ffba55;
  display: inline-block;
  padding: 0 10px;
}
#myCookieConsent a:hover {
  color: #fda016;
}
#myCookieConsent a#cookieButton {
  display: inline-block;
  color: #000000;
  font-size: 1.1em;
  background: #ffba55;
  text-decoration: none;
  cursor: pointer;
  padding: 2px 20px;
  float: right;
  border-radius: 20px;
}
#myCookieConsent a#cookieButton:hover {
  background: #fda016;
  color: #000;
}

/*Cookie Consent End*/

h1 {
  font-size: 2em;
  text-align: center;
  color: white;
  background-color: rgba(112, 128, 144, 0.8);
  border-radius: 15px;
  padding: 1em;
  margin: 1em auto;
  max-width: 600px;
}

.toolArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
}
.toolSection {
  background: lightgray;
  border: black solid 3px;
  border-radius: 7px;
  padding: 0.5em;
  margin: 0.5em;
  width: fit-content;
  min-width: 12rem;
  max-width: 20rem;
  display: grid;
}

h2 {
  display: inline;
  padding: 0.5em 1em;
  margin: auto;
  background: silver;
  border-radius: 20px;
  text-align: center;
}

p {
  display: inline-block;
  text-align: center;
  font-size: 0.7em;
}
p span {
  display: inline-block;
}
label {
  margin: 0.5em;
}

div {
  display: inline-block;
  text-align: center;
  padding: 0.25em 1em;
}

.calcButton {
  display: inline-block;
  margin: 0.5em auto;
  border: 2px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.calcButton:hover {
  background-image: linear-gradient(to bottom right, lightgray, silver);
}

#downtimeCalc section {
  display: grid;
  text-align: justify;
}

@media (min-width: 600px) {
  .toolArea {
  }
  #downtimeCalc section {
    display: grid;
  }
}
.hide {
  display: none;
}
